spring:
  datasource:
    url: jdbc:mysql://localhost:3306/velog?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: 1949
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: localhost
      port: 6379

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${SMTP_PWD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: ${JWT_SECRET_KEY}
  atk-exp-min: ${JWT_ACCESS_TOKEN_EXPIRATION_MINUTES:30}
  rtk-exp-week: ${JWT_REFRESH_TOKEN_EXPIRATION_WEEKS:2}