spring:
  datasource:
    url: jdbc:mysql://localhost:3306/velog?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: 1949
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true